<ion-view view-title="Chats">
  <ion-content>
   <div class="list card">
        <div class="item item">
         <img src="img/dmc.jpg" class="image-list-thumb padding">
        <h2>devil may cry</h2>
        <p>La historia transcurre en la isla ficticia de Mallet y se centra en los personajes</p>
        <p>de Dante y Trish y en su búsqueda para enfrentarse al demonio Mundus. La historia se narra</p>
        <p>principalmente a través de una mezcla de cutscenes, que utilizan el motor del juego,</p>
        <p>y varios pre-rendering full motion video.</p>
      
                
        <br><br>
        <h2>renta por 5 dias 65.00$</h2>
</div>

        <div class="item item">
         <img src="img/cod.jpg" class="image-list-thumb padding">
        <h2>call of duty 4: modern warfare</h2>
         <p> La historia toma lugar en el año 2011, donde un líder radical ha ejecutado al presidente</p>
         <p> Al-Fulani que preside un país sin nombre con localización en Oriente Medio, y un movimiento</p>
         <p>ultranacionalista da inicio a una guerra civil en Rusia. Los conflictos son vistos desde la</p>
         <p>perspectiva de un grupo de la Fuerza de Reconocimiento del Cuerpo de Marines de los Estados Unidos</p>
         <p>y de un comando del SAS británico, estableciéndose estos en varios lugares, incluyendo Medio Oriente,</p>
         <p>Azerbaiyán, Rusia y Prípiat. Los personajes jugables de la trama son varios, resaltando dos</p>
         <p>personajes protagonistas: el Sargento británico John "Soap" MacTavish y el Sargento estadounidense</p>
         <p>Paul Jackson. Como en otras ediciones de la serie, el videojuego es de disparos en primera persona</p>
         <p>de estilo bélico, y el ambiente cerrado y lineal se mantiene, al igual que otros títulos de la serie,</p>
         <p>debido a que cada misión es necesaria para progresar a través del juego y desbloquear más contenido</p>
         <p>sobre esta misma. </p>
      
              
        <br><br>
        <h2>renta por 5 dias 65.00$</h2>
    </div>
<div class="item item">
         <img src="img/ac4.jpg" class="image-list-thumb padding">
        <h2>assassin's creed 4: black flag</h2>
        <p>Es la precuela de Assassin's Creed III. Su temática gira en torno a la piratería en El Caribe en el siglo XVIII,</p>
        <p>en la llamada Edad de oro de la piratería. Está ambientado en 1715, en las islas de las Bahamas, Cuba y </p>
        <p>el sur de Florida,1 cuenta con tres ciudades principales: La Habana, Kingston, y Nassáu, que se encuentran</p>
        <p>bajo la influencia española, británica y pirata, respectivamente. Cuenta con otros 50 lugares "únicos" para </p>
        <p>explorar, con un balance de 60/40 entre tierra y exploración naval. El nuevo protagonista, Edward Kenway, padre </p>
        <p>de Haytham Kenway, padre de Connor, el protagonista de Assassin's Creed III. Por lo tanto Edward, también es el </p>
        <p>abuelo de Connor, se describe como el azote de los mares, un hábil pirata y asesino al cual admira hasta el mismísimo Barbanegra.</p>
       
        
        <br><br>
        <h2>renta por 5 dias 65.00$</h2>
    </div>    

  </div>
  </ion-content>
</ion-view>
