<ion-view view-title="catalogo de peliculas">
  <ion-content class="padding">
<div class="list card">
        <div class="item item">
         <img src="img/hellsing.jpg" class="image-list-thumb padding">
        <h2>van hellsing</h2>
        <p>En el corazón de los Cárpatos se asienta la misteriosa y mítica Transilvania, un mundo donde</p>
        <p>el mal siempre está al acecho, donde el peligro aumenta en cuanto se pone el sol, don-de cobran </p>
        <p>forma los monstruos que pueblan las peores pesadillas del hombre. La historia transcurre en el </p>
        <p>siglo XIX en Londres, Roma, París y Transilvania; los seres humanos son constantemente acechados</p>
        <p>por el mal encarnado en múltiples formas: monstruos que sobreviven generación tras generación, </p>
        <p>enfrentándose a los valientes que dan su vida en esa guerra sin fin contra la raza humana.</p>
        <p>Van Helsing (Hugh Jackman), el legendario cazador de monstruos al que dio vida Bram Stoker en</p>
        <p>“Drácula”, en su eterna batalla para librar al mundo de estas malvadas criaturas, y respondiendo </p>
        <p>al encargo de una sociedad secreta, viaja a Transilvania con la idea de vencer al letal y seductor,</p>
        <p>al enigmático y poderoso Conde Drácula (Richard Roxburgh). La intrépida Anna Valerious (Kate Beckinsale)</p>
        <p>se unirá a él para derrotar al vampiro y librar a su familia de una antigua maldición.</p>
                
        <br><br>
        <h2>renta por 5 dias 70.00$</h2>
</div>

        <div class="item item">
         <img src="img/amanecer.jpg" class="image-list-thumb padding">
        <h2>el amanecer de los muertos</h2>
        <p>Remake del clásico de horror de George A. Romero. Una inexplicable plaga ha diezmado la población del planeta,</p>
        <p>convirtiendo a los muertos en horribles zombies que continuamente buscan carne y sangre humana para sobrevivir. </p>
         <p>En Wisconsin, un variopinto grupo de personas que han escapado a la plaga, tratan de salvar sus vidas refugiándose</p>
         <p>en un centro comercial, donde deben aprender no sólo a protegerse de las hordas de zombies, sino también a convivir.</p>
              
        <br><br>
        <h2>renta por 5 dias 70.00$</h2>
    </div>
<div class="item item">
         <img src="img/inframundo.jpg" class="image-list-thumb padding">
        <h2>inframundo 2: evolucion</h2>
        <p>La lucha milenaria entre depredadores ha adoptado nuevas dimensiones de violencia. Ha nacido una nueva raza en nada comparable</p>
        <p>a ninguna otra conocida. Traicionada por los de su propio clan, la guerrera vampiro Selene (Kate Beckinsale), busca venganza.</p>
        <p>Para ello, decide descubrir la verdad sobre la identidad del primer Inmortal verdadero. No es Marcus, el rey de los vampiros como se creía,</p>
        <p>sino Alexander Corvinus, padre de Marcus y de su hermano gemelo William. Selene y el híbrido Michael (Scott Speedman), protagonistas de un amor prohibido,</p>
        <p>lucharán juntos contra el poderoso Marcus, quien está decidido a liberar a su hermano preso y usar la sed de sangre de éste para llegar a dominar el mundo.</p>
        
        <br><br>
        <h2>renta por 5 dias 70.00$</h2>
    </div>    

  </div>
  
  </ion-content>
</ion-view>
